<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<form th:method="POST" th:action="@{/}" th:object="${user}">
  <label fo1r="first_name">Имя</label>
  <input type="text" th:field="*{first_name}" id="first_name">
  <label for="last_name">Фамилия</label>
  <input type="text" th:field="*{last_name}" id="last_name">
  <label for="age">Возраст</label>
  <input type="text" th:field="*{age}" id="age">
  <div style="color:red" th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"></div>
  <div style="color:red" th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"></div>
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
  <br><br>
  <input type="submit" value="Создать пользователя">
</form>
</body>
</html>